<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="js/vue.min.js"></script>
</head>
<body>
<div id="box">
	<h3>文本域</h3>
	<textarea v-model="val1"></textarea>
	{{val1}}
	<hr>
	<!-- 单选 -->
	<input type="radio" value="男" v-model="sex">男
	<input type="radio" value="女" v-model="sex">女
	{{sex}}
	<hr>
	<!-- 多选框 -->
	<input type="checkbox" value="小红" v-model="girl">小红
	<input type="checkbox" value="小黑" v-model="girl">小黑
	<input type="checkbox" value="小白" v-model="girl">小白
	<input type="checkbox" value="小弟" v-model="girl">小弟
	{{girl}}

	<select name="" id="" v-model="val2">
		<option value="0">北京</option>
		<option value="1">上海</option>
		<option value="2">深圳</option>
		<option value="3">河北</option>
	</select>
	{{val2}}
</div>
	<script>
		new Vue({
			el:"#box",
			data:{
				val1:"",
				val2:"",
				// girl:[],
				girl:true,
				sex:""
			}
		})
	</script>
</body>
</html>