<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
	<script src="js/vue.min.js"></script>
</head>
<body>
<div id="box">
<!-- vue2里面已经没有$index -->
	<!-- 	<ul>
		<li v-for="item in msg">
			<h1>名字:{{item.name}}</h1>
			<h1>年龄:{{item.year}}</h1>
			<h1>性别:{{item.sex}}</h1>
		</li>
	</ul> -->


<!-- 	
	<ul>
		<li v-for="(val,index) in msg">
			<p>{{index}}</p>
			<p>{{val}}</p>
		
		</li>
	</ul>
	 -->
	 <ul>
		<li v-for="(val,key,index) in info">
			<h1>{{val}}</h1>
			<h1>{{key}}</h1>
			<h1>{{index}}</h1>
		</li>
	 </ul>


</div>
	<script>
	// 自定义键位设置
	Vue.config.keyCodes.w=87;

		new Vue({
			el:"#box",
			// 放属性
			data:{
				msg:[
					{"name":"Msea","sex":"男","year":18},
					{"name":"张杰","sex":"男","year":18},
					{"name":"赵添","sex":"女","year":18}
				],
				info:{
					name:"大头儿子",
					year:"18",
					sex:"男"
				}
			}
		
		})
	</script>
</body>
</html>