<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>
		<div id="app">
		  	<h2>颜色列表</h2>
		  	<ul>
		    	<li v-for="color in colors">
		      		{{color}}
		    	</li>
		  	</ul>
		 
		  	<h2>各个家庭的父亲</h2>
		  	<ul>
		    	<li v-for="home in homes" v-on:click="myFa(home.father)">
		      		{{home.father}}
		    	</li>
		  	</ul>
		</div>
  	<script src="https://unpkg.com/vue"></script>
  	<script type="text/javascript">
  		
  		/*
  			v-on
  			
				为页面元素绑定各种事件
				v-on: 可简写为@
				
  		*/
  		var app = new Vue({
		  	el:'#app',
		  	data: {
		    	colors : ['blue','red','black'],
		    	homes:[
		      		{father:'tom'},
		      		{father:'bob'},
		      		{father:'john'}
		    	]
		  	},
		  	methods:{
			    myFa: function(father){
			      	alert('我的爸爸是'+father)
			    }
			}
		})
  		
  	</script>
	</body>
</html>
