html,
body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
input,
button,
dl,
dt,
dd,
ul,
li,
ol,
form,
th,
td {
    margin: 0;
    padding: 0;
}

html,
body {
    position: relative;
    width: 100%;
    height: 100%;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    // 禁止文字缩放
    -webkit-text-size-adjust: 100%;
    // 选中文字设置
    -webkit-user-select: none;
}

body {
    color: #333;
    line-height: 1.5;
    background-color: #fff;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
}

ul,
li,
ol {
    list-style: none;
}

img {
    display: block;
    border: 0;
}

a {
    color: #333;
    text-decoration: none;
}

// 清除点击阴影
a,
input,
button,
textarea {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    // -webkit-tap-highlight-color: transparent;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
    color: #ccc;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

// 消除圆角按钮（针对ios系统）
input,
button {
    -webkit-appearance: none;
    border-radius: 0;
    border: 0;
    outline: none;
    background-color: transparent;
}

// 解决无法获取焦点问题
*:not(input, textarea) {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
}

// https://cn.vuejs.org/v2/api/#v-cloak
[v-cloak] {
    display: none;
}